<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/html5-boilerplate/css/main.css" rel="stylesheet" />
    <link href="bower_components/html5-boilerplate/css/normalize.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />

</head>

<body>
    <header class="modal-header text-center">
        <h2 id="header"></h2>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" id="left-side-menu">
                <div class="panel panel-primary" id="menu-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Navigation</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="#/">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-primary" id="login-register-menu">
                    <div class="panel-heading">
                        <h6 class="panel-title text-center">To publish new ad, please login</h6>
                    </div>
                    <div class="panel-body">
                        <p><a class="btn btn-primary btn-sm container-full" href="#/login" role="button">Login</a></p>
                        <p><a class="btn btn-primary btn-sm container-full" href="#/register" role="button">Register</a></p>

                    </div>
                </div>
            </div>




            <div ng-view="" id="view" ng-cloak></div>



            <div class="col-sm-2" id="right-side-menu" ng-controller="RigtMenuController" ng-cloak>
                <div class="panel panel-primary" id="category-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Categories</h3>
                    </div>
                    <div class="panel-body scroll">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a data-category-id="">All</a>
                            </li>
                            <li ng-repeat="category in categories">
                                <a data-category-id="{{category.id}}">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-primary" id="town-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Towns</h3>
                    </div>
                    <div class="panel-body scroll">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a data-town-id="">All</a>
                            </li>
                            <li ng-repeat="town in towns">
                                <a data-town-id="{{town.id}}">{{town.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="push"></div>
    </div>

    <footer class="modal-footer text-center footer">
        <h3>&copy; 2014 by Software University Foundation, No Rights Reserved</h3>
    </footer>




    <!--Scripts-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>



    <script src="app.js"></script>

    <script src="directives/adDirective.js"></script>

    <script src="services/baseUrl.js"></script>
    <script src="services/headers.js"></script>
    <script src="services/requester.js"></script>
    <script src="services/user.js"></script>
    <script src="services/userSession.js"></script>
    <script src="services/jQueryService.js"></script>
    <script src="services/notyService.js"></script>


    <script src="models/adsModel.js"></script>
    <script src="models/categoriesModel.js"></script>
    <script src="models/townsModel.js"></script>



    <script src="controllers/mainController.js"></script>
    <script src="controllers/rightMenuController.js"></script>
    <script src="controllers/loginController.js"></script>
    <script src="controllers/registerController.js"></script>
    <script src="controllers/userController.js"></script>

</body>
</html>
