<div class="col-sm-8">
    <div class="panel panel-primary" id="login-form">
        <div class="panel-heading">
            <h1 class="panel-title text-center">Login</h1>
        </div>
        <div class="panel-body">
            <div>
                <label>
                    Username:
                </label>
            </div>
            <div>
                <input type="text" value="" ng-model="username" />
            </div>
            <div>
                <label>
                    Password:
                </label>
            </div>
            <div>
                <input type="password" value="" ng-model="password" />
            </div>
            <div>
                <a ng-click="login()" class="btn btn-primary">Login</a>
                <a href="#/register" class="navbar-link pull-right">Register here</a>
            </div>
        </div>
    </div>
</div>
</div>