<div class="col-md-6">
    <div class="row">
        <div class="col-md-6">
            {{a}}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique, ratione, et, minima modi nostrum facere illum ab vitae minus laborum reprehenderit provident animi maxime necessitatibus optio aspernatur tenetur ad.
        </div>
        <div class="col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, similique, ratione, et, minima modi nostrum facere illum ab vitae minus laborum reprehenderit provident animi maxime necessitatibus optio aspernatur tenetur ad.
        </div>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, commodi quisquam sit unde doloribus nihil earum repellendus velit! Iste, quo, tenetur laborum corrupti quidem aperiam repellat ut tempora autem neque?
</div>