<div class="col-sm-10">
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-click="pageChanged()" ng-show="hasAds"></pagination>


    <div ng-repeat="ad in ads" class="panel ads user-ads" user-ad-directive></div>

    <!--when there is NO ads-->
    <div ng-include="'../templates/display-no-ads-message.html'"></div>

    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-click="pageChanged()" ng-show="hasAds"></pagination>
</div>
