<div>
    <h4>
        {{ad.title}}
        <span class="pull-right small">{{ad.date | date: dd-MMM-yyyy}}</span>
    </h4>
    <div class="row">
        <div class="col-md-4">
            <div class="image-container">
                <img class="img-rounded" ng-src="{{ad.imageDataUrl}}" width="150" height="150" hspace="10" vspace="10" alt="Alternate Text" />
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <span>{{ad.text}}</span>
            </div>
            <div>
                Name <span>{{ad.ownerName}}</span>
            </div>
            <div>
                Email <span>{{ad.ownerEmail}}</span>
            </div>
            <div>
                Phone <span>{{ad.ownerPhone}}</span>
            </div>
        </div>
    </div>
</div>