body {
    background-color: khaki;
}

.container-fluid {
}

.ads, .panel, .pagination {
    -webkit-box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 5px 5px 5px 0 rgba(50, 50, 50, 0.75);
}

.ads, .panel {
    border: 1px solid rgba(50, 50, 50, 0.5 );
    // background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.ads {
    padding: 20px;
    max-height: 400px;
    min-height: 400px;
    background-color: #A9D18E;
}

    .ads div > .span-info, .ads div > .span-label {
        display: inline-block;
        padding: 5px 7px;
        margin: 10px 0 5px 0;
        width: 100%;
    }

    .ads div > .span-info {
        background-color: #C5E0B4;
    }

    .ads div > .span-label {
        text-align: right;
    }


.container-full {
    margin: 0 auto;
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}

.scroll {
    overflow-y: overlay;
    overflow-x: hidden;
    height: 223px;
    padding-right: 32px;
}

.modal-header, .modal-footer {
    background-color: rgb(51, 122, 183);
    color: white;
}



.modal-header {
    margin: 0 0 20px 0;
    padding: 1px 0 0 0;
}

.modal-footer {
    margin: 20px 0 0 0;
    padding: 0 0 1px 0;
    text-align: center;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.modal-header > h2, .modal-footer > h2 {
    margin: 10px;
}

#login-form {
    width: 300px;
    margin: 0 auto;
}

    #login-form .panel-body div {
        margin: 10px 10px 0 10px;
    }

    #login-form input {
        width: 100%;
    }

    #login-form .panel-body div a.navbar-link {
        padding: 6px 0;
    }


@media (max-width: 1201px) {
    .ads {
        max-height: none;
        min-height: none;
    }
}

.user-span {
    margin-top: -38px;
    margin-right: 90px;
}

.logout-li {
    margin-top: -38px;
    margin-right: 14px;
    color: white;
}

    .logout-li:hover {
        color: black;
    }
